@model StudentsDatabaseDiscussion.Models.StudentsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>

    @if (ViewBag.AddStudentSuccess != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> @ViewBag.AddStudentSuccess
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (ViewBag.AddStudentFail != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error!</strong> @ViewBag.AddStudentFail
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (ViewBag.AddStudentValidationError != null)
    {
        <div id='validation-error' style='display:none;'>
            @if (ViewBag.AddStudentValidationError != null)
            {
                @ViewBag.AddStudentValidationError
            }
        </div>
    }

    <div>
        <h3 style="text-align:center">Student Database</h3>
        <button class="btn btn-info btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#add-student-modal">Add Student</button>
        <input class="form-control" type="text" id="search" placeholder="Search student" />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id Number</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Contact number</th>
                    <th scope="col">Year level</th>
                    <th scope="col">Status</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var student in Model.Students)
                    {
                        <tr>
                            <th scope="row">@student.ID</th>
                            <td>@student.STUDENT_NUMBER</td>
                            <td>@student.STUDENT_NAME</td>
                            <td>@student.STUDENT_CONTACT_NUMBER</td>
                            <td>@student.STUDENT_YEAR_LEVEL</td>
                            <td>@(student.STATUS ? "Active" : "Inactive")</td>
                            <td>
                                <div>
                                    <button class="btn btn-danger btn-sm" onclick="deleteStudent('@student.ID','@student.STUDENT_NAME', '@student.STUDENT_NUMBER')">Delete</button>
                                    <button class="btn btn-info btn-sm" onclick="showStudentDetails('@student.ID', '@student.STUDENT_NUMBER', '@student.STUDENT_NAME', '@student.STUDENT_CONTACT_NUMBER', '@student.STUDENT_YEAR_LEVEL', '@student.STATUS' , '@student.STUDENT_ADDRESS')">Modify</button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div id="add-student-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new student</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_AddStudent", Model.Student)
                </div>
            </div>
        </div>
    </div>

    <div id="modify-student-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modify student details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <label id="lbl-student-id-number">Student Id number</label>
                    <input type="text" class="form-control" id="txb-student-id-number" />

                    <label id="lbl-student-name">Student Name</label>
                    <input type="text" class="form-control" id="txb-student-name" />

                    <label id="lbl-student-address">Student Address</label>
                    <input type="text" class="form-control" id="txb-student-address" />

                    <label id="lbl-student-year">Student Year</label>
                    <input type="text" class="form-control" id="txb-student-year" />

                    <label id="lbl-student-contact-number">Student contact number</label>
                    <input type="text" class="form-control" id="txb-student-contact-number" />

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cb-active">
                        <label class="form-check-label" for="cb-active">
                            Is active
                        </label>
                    </div>

                    <input type="hidden" id="student-id" />

                    <div style="text-align:right">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="button" value="Modify student" class="btn btn-info" onclick="modifyStudentDetails()" />
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {
        $("#search").keyup(function () {
            var value = $(this).val().toLowerCase();
            $('table tbody tr').filter(function () {
                var isFound = $(this).find("td:eq(1)").text().toLowerCase().indexOf(value) > -1
                $(this).toggle(isFound)
            })
        })

        var validationError = '';
        validationError = $('#validation-error').text();
        if (validationError != '') {
            $('#add-student-modal').modal('show');
        }
    })

    function deleteStudent(studentId, studentName, studentIdNumber) {

        if (confirm("Do you want to delete: " + studentName + " with id number: " + studentIdNumber + "?")) {

            var data = {
                studentId : studentId
            }

            $.ajax({
                type: "POST",
                url: "/Students/DeleteStudent",
                dataType: "JSON",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf8',
                success: function (res) {
                    alert(res.msg)
                    location.reload(true);
                },
                error: function () {
                    alert("An error occurred")
                }
            })

        }

    }

    function showStudentDetails(studentId, studentNumber, studentName, studentContactNumber, studentYearLevel, status, studentAddress) {

        $('#modify-student-modal').modal('show');

        $('#txb-student-name').val(studentName);
        $('#txb-student-address').val(studentAddress);
        $('#txb-student-id-number').val(studentNumber);
        $('#txb-student-year').val(studentYearLevel);
        $('#txb-student-contact-number').val(studentContactNumber);
        $('#student-id').val(studentId)

        $('#cb-active').prop('checked', status)


    }

    function modifyStudentDetails() {

        var studentName = $('#txb-student-name').val();
        var studentAddress = $('#txb-student-address').val();
        var studentIdNumber = $('#txb-student-id-number').val();
        var studentYear = $('#txb-student-year').val();
        var studentContactNumber = $('#txb-student-contact-number').val();
        var studentId = $('#student-id').val()
        var isActive = $('#cb-active').prop('checked');


        if (confirm('Are you sure you want to modify the student details?')) {

            var data = {
                studentId: studentId,
                studentName: studentName,
                studentAddress: studentAddress,
                studentIdNumber: studentIdNumber,
                studentYearLevel: studentYear,
                studentContactNumber: studentContactNumber,
                isActive: isActive
            }

            $.ajax({
                type: "POST",
                url: "/Students/UpdateStudent",
                dataType: "JSON",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf8',
                success: function (res) {
                    alert(res.msg)
                    location.reload(true);
                },
                error: function () {
                    alert("An error occurred")
                }
            })

        }

    }


</script>
